{% extends "layout.html" %}
{% block content %}
<div class="content">

<div class="col-8 col-s-8">    <!-- 66.6% Main Content -->
    <h1>Who am I?</h1>
    <p>I am a year 12 student studying Computer Science, Physics, Mathematics, Engineering and English. I love working with technology and experimenting with ideas around it. I spend much of my spare time learning new skills such as programming or PC building, and learning how new technologies and sciences work.</p>
    <p>I have always wanted to be innovating and creating and want to be a part of the future, whether that means working on rockets, next-generation AI, computer programs, developing computer chips or researching quantum mechanics. The exact course I want to take is uncertain, but I have big plans for whatever it is, and I am determined to get there however possible.</p>
</div>

<div class="col-4 col-s-4">    <!-- 33.3% Image of myself -->
    <img src="static/FinnMcKinley.jpg">
</div>

</div>
{% endblock %}