<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial scale=1.0">
        <title>Finn McKinley - {{ page_title }}</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css"/> <!-- Links to Stylesheet -->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    </head>

    <body>
        {% include "header.html" %}
        <div class="row">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>